/target/
/tmp/
/.direnv/
/.cache/
/.vscode/
/.idea/
/out/
/debian/files
/debian/.debhelper/
/debian/*.substvars
/debian/debhelper*
/debian/rdebootstrap/
/debian/cargo-home/
**/*.log
**/*.tmp
**/Packages
*.crate
