#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export CARGO_HOME := $(CURDIR)/target/cargo-home
export CARGO_TARGET_DIR := $(CURDIR)/target

%:
	dh $@

override_dh_auto_configure:
	mkdir -p $(CARGO_HOME)
	cargo fetch --locked

override_dh_auto_build:
	cargo build -p rdebootstrap --release --locked --bin rdebootstrap
	cargo xtask build-man

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	cargo test --locked --workspace --all-targets -- --nocapture
endif

override_dh_auto_install:
	install -Dm755 target/release/rdebootstrap \
		$(CURDIR)/debian/rdebootstrap/usr/bin/rdebootstrap
	install -Dm644 debian/usr.bin.rdebootstrap \
		$(CURDIR)/debian/rdebootstrap/etc/apparmor.d/usr.bin.rdebootstrap
	install -Dm644 target/man/rdebootstrap.1 \
		$(CURDIR)/debian/rdeboostrap/usr/share/man/rdebootstrap.1

override_dh_auto_clean:
